</div>

</div>
<!-- /.blog-main -->

{{> sidebar}}

</div>
<!-- /.row -->

</div>
<!-- /.container -->

{{> footer }}

</body>

</html>
<link rel="stylesheet" href="stylesheets/app.css"></script>
<script src="js/app.js"></script>
