<footer class="blog-footer">
  <ul class="nav nav-pills center-pills pills-footer">
    <li role="presentation"><a href="http://github.com/mdamaceno" target="_blank">GitHub</a></li>
    <li role="presentation"><a href="https://br.linkedin.com/in/marcodamaceno" target="_blank">Linkedin</a></li>
    <li role="presentation"><a href="http://twitter.com/mdamaceno" target="_blank">Twitter</a></li>
    <li role="presentation"><a href="http://facebook.com/marco.damaceno" target="_blank">Facebook</a></li>
  </ul>
  <p>© 2016 Marco Damaceno</p>
</footer>
