<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Marco Damaceno">
<meta name="description" content="">
<title>Marco Damaceno - Um desenvolvedor Ruby e PHP</title>
<link rel="stylesheet" href="stylesheets/app.css"></script>
