<h2 class="blog-post-title">Olá, eu sou Marco Damaceno</h2>

<p>Natural de Volta Redonda - RJ, mas há bastante tempo morando em Juiz de Fora - MG.</p>
<p>Trabalho na <a href="http://emiolo.com" target="_blank">Emiolo.com</a> utilizando as linguagens Ruby, PHP e JavaScript e frameworks como Ruby on Rails, Laravel e Express. Também uso ferramentas como Magento e WordPress.</p>
<p>Amo TDD e BDD.</p>
<p>Gosto de sempre aprender novas técnicas de desenvolvimento.</p>
<p>Uso Linux para programar e o Windows de outras pessoas para dar manutenção. Não uso Windows nem para brincar. Para isso, eu prefiro um vídeo game. :)</p>
<p>Toco violão, guittarra e baixo. Já fui melhor, mas hoje é apenas um hobby.</p>
<p>Contato: maadamaceno@gmail.com</p>
