<h2 class="blog-post-title">Coisas que construí</h2>

<h3>Pessoais</h3>
<p><a href="https://github.com/mdamaceno/autogit" target="_blank">Autogit</a> - script feito em bash com atalhos de comandos simples para uso do Git.</p>
<p><a href="https://gist.github.com/mdamaceno/780b70731b9a0debe0dc" target="_blank">Configuração de servidor</a> - Passo a passo para configuração de servidores com Ruby e PHP.</p>

<h3>Na Emiolo.com</h3>
<p><a href="https://happymeias.com.br" target="_blank">Happy Meias</a> - programação back-end com Magento</p>
<p><a href="http://celebravip.com.br" target="_blank">Celebra VIP</a> - programação back-end com Ruby on Rails</p>
<p><a href="http://yendes.com.br" target="_blank">Yendes Persianas</a> - programação back-end com Ruby on Rails</p>
<p><a href="https://alugabarcos.com.br" target="_blank">Aluga Barcos</a> - programação back-end com Ruby on Rails e Express</p>
<p><a href="http://addcon.com.br" target="_blank">Addcon Contabilidade</a> - programação back-end com WordPress</p>

<h3>Contribuí com</h3>
<p><a href="https://github.com/cagartner/correios-consulta" target="_blank">Correios Consulta</a> - Plugin para Laravel para consultas de CEP, frete e rastreio.</p>
